.btn[disabled],
.disabled {
  opacity: .4;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  padding: 0.5em;
  color: red;
  font-weight: 800;
}

.control-wrapper {
  padding: 2em;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #505050;
  width: 30vw;
}

.fa-rotate-left,
.fa-rotate-right {
  cursor: pointer;
}

.new-button {
  margin: 0 2em;
  cursor: pointer;
  text-decoration: underline;
}

.main-wrapper-domino {
  display: flex;
  flex-direction: row;
}

.domino-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
  width: 30vw;
}

.domino-control {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  width: 30vw;
  padding-right: 5em;
}

.domino-wrapper {
  display: flex;
  width: 6em;
  height: 14em;
  background: whitesmoke;
  border-radius: 4px;
  flex-direction: column;
  font-size: 10px;
  border: 2px solid #000000;
}

.rotate-left-animation {
  animation-name: rotateLeft;
  animation-timing-function: linear;
  animation-duration: 3s;
}

.rotate-right-animation {
  animation-name: rotateRight;
  animation-timing-function: linear;
  animation-duration: 3s;
}

@-webkit-keyframes rotateLeft {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-90deg);
  }
}

@-webkit-keyframes rotateRight {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
  }
}

.available-button,
.main-part-domino {
  display: flex;
  align-items: center;
  height: 7em;
  width: 6em;
  justify-content: center;
  border-bottom: 2px solid #000000;
}

.main-part-domino:last-child {
  border: none;
}

.available-button {
  cursor: pointer;
}

.available-button:hover,
.available-button:active {
  border-bottom: 2px solid #4CAC95;
}

.available-button .dot:hover,
.available-button .dot:active {
  background-color: #505050;
}

.range-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.label-input {
  font-size: 14px;
  font-weight: 400;
  padding-right: 2em;
}

.dot {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0.5em;
  font-size: 1em;
  border-radius: 1em;
  background-color: #000000;
}

.dot-wrapper-1 {
  flex-direction: row;
}

.dot-wrapper-1 .dot:not(:first-child) {
  display: none;
}

.dot-wrapper-2 {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dot-wrapper-2 .dot:not(:nth-child(3n+3)) {
  display: none;
}

.dot-wrapper-2 .dot:nth-child(3) {
  align-self: flex-end;
  margin: 1em 1em 0.5em 0.5em;
}

.dot-wrapper-2 .dot:nth-child(6) {
  align-self: flex-start;
  margin: 0.5em 0.5em 1em 1em;
}

.dot-wrapper-3 {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dot-wrapper-3 .dot:nth-child(even) {
  display: none;
}

.dot-wrapper-3 .dot:nth-child(1) {
  align-self: flex-end;
  margin: 1em 1em 0.5em 0.5em;
}

.dot-wrapper-3 .dot:nth-child(5) {
  align-self: flex-start;
  margin: 0.5em 0.5em 1em 1em;
}

.dot-wrapper-4 {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.dot-wrapper-4 .dot:nth-child(3n+3) {
  display: none;
}

.dot-wrapper-4 .dot:not(:nth-child(3n+3)) {
  margin: 1em;
}

.dot-wrapper-5 {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dot-wrapper-5 .dot:last-child {
  display: none;
}

.dot-wrapper-5 .dot:nth-child(1) {
  margin-top: 1em;
}

.dot-wrapper-5 .dot:nth-child(2) {
  align-self: flex-end;
  left: 1em;
}

.dot-wrapper-5 .dot:nth-child(3) {
  margin-bottom: 1em;
}

.dot-wrapper-5 .dot:nth-child(4) {
  margin-top: 1em;
}

.dot-wrapper-5 .dot:nth-child(5) {
  margin-bottom: 1em;
}

.dot-wrapper-6 {
  flex-wrap: wrap;
  flex-direction: column;
}

input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 67%;
  border: none;
}

input[type=range]:focus {
  outline: none;
  border: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #DDDDDD;
  border-radius: 1px;
}

input[type=range]::-webkit-slider-thumb {
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #505050;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
