.main-section {
  display: flex;
  position: relative;
  padding: 1em;
  flex-direction: column;
}

.input-grade {
  margin-left: 2em;
}

.grade-wrapper,
.form-create-student {
  padding-top: 1em;
  padding-left: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.grade-wrapper {
  justify-content: left;
  padding-bottom: 1em;
}

.form-create-student {
  width: 49vw;
}

.student-input {
  width: 35%;
  margin-right: 35%;
}

.gpa-input {
  width: 15%;
  margin-right: 2%;
}

.grid.ui-grid {
  border: none;
  border-bottom: 1px solid #DDDDDD;
  width: 50vw;
  height: 40vh;
}

.grid.ui-grid .ui-grid-header {
  border: none;
}

.grid.ui-grid .ui-grid-header .ui-grid-top-panel {
  background-color: transparent;
  line-height: 30px;
  font-size: 14px;
}

.grid.ui-grid .ui-grid-header .ui-grid-top-panel .ui-grid-header-cell {
  border: none;
  border-bottom: 1px solid #DDDDDD;
}

.grid.ui-grid .ui-grid-cell-contents {
  line-height: 22px;
  padding: 0.5em;
  outline: 0;
}

.grid.ui-grid .ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: transparent;
  border: none;
}

.grid.ui-grid .ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: transparent;
  border: none;
}

.layout-tabs {
  position: relative;
  display: flex;
  flex-direction: column;
}

.average-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-end;
  font-size: 3em;
  margin: 0.5em;
  font-weight: 500;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid transparent;
  padding: 0.5em 3em 0 3em;;
  overflow: auto;
}

.tabs-container .tab-container {
  display: flex;
  align-items: center;
  width: 90px;
  height: 30px;
  justify-content: space-evenly;
  padding: 0.2em 0.6em;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
}

.line-wrapper {
  margin-top: -2px;
  border-bottom: 1px solid #DFDFDF;
}

.grade-text {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tabs-container .tab-container.active {
  background-color: #4CAC95;
  color: white;
  cursor: default;
  border: 1px solid #13AC96;
  border-bottom: 1px solid transparent;
}

.tabs-container .tab-container.active:hover,
.tabs-container .tab-container.active:active {
  background-color: #3a8a6a;
}

.empty-block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  padding: 1em;
  height: calc(100vh - 107px);
}

.btn-close {
  width: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #505050;
  font-size: 13px;
}

.fa-plus,
.fa-close {
  cursor: pointer;
}

.fa-close:hover {
  color: #4CAC95;
}

.fa-close:active {
  color: #3a8a6a;
}

.image-chart {
  padding: 1em;
}

.text {
  margin-bottom: 1em;
}

.add-tab-wrapper {
  display: flex;
  padding-left: 1em;
  align-items: center;
  font-size: 9px;
}

.add-icon-tab {
  border: 1px solid #505050;
  color: #505050;
  padding: 0.2em;
  width: 9px;
  height: 9px;
  line-height: 10px;
  text-align: center;
}

.add-icon-tab:active,
.add-icon-tab:hover {
  border: 1px solid #4c9695;
  background-color: #4CAC95;
  color: white;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-align: center;
  background-color: #4CAC95;
  min-width: 114px;
  padding: 0 25px;
  height: 32px;
  line-height: 30px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.btn.btn-add-student {
  min-width: 36px;
  width: 10%;
  padding: 10px;
  height: 23px;
  line-height: 4px;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
}

.btn:hover,
.btn:active,
.btn:active {
  background-color: #3a8a6a;
  color: white;
}

.btn[disabled],
.disabled {
  opacity: .4;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.error {
  border: 1px solid #ff0000;
}

.error:focus,
.error:active {
  border: 1px solid #d20000;
}

input {
  height: 18px;
  line-height: 18px;
  border-radius: 2px;
  padding: 0.2em 0.8em;
  font-size: 13px;
  border: 1px solid #DDDDDD;
}

input[error] {
  border: 1px solid #b50000;
}

input[error]:focus,
input[error]:active {
  border: 1px solid #b50000;
}

input:focus,
input:active {
  border: 1px solid #606060;
}

input:focus,
input:hover,
input:active,
button:hover,
button:active,
button:focus {
  outline: 0;
}

::-webkit-scrollbar {
  width: 4px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: #DDDDDD;
  border-radius: 6px;
  cursor: pointer;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::placeholder {
  color: #C1C1C1;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: #C1C1C1;
}

::-ms-input-placeholder {
  color: #C1C1C1;
}
