<menubar></menubar>
<div class="empty-block-content" ng-cloak="" ng-if="$ctrl.data.length === 0 && !$ctrl.loading">
  <img class="image-chart" src="app/assets/charts-no-data-icon.svg" alt="image"/>
  <div class="text">No data to display</div>
  <button class="btn" ng-click="$ctrl.initData()">Repeat</button>
</div>
<div class="layout-tabs" ng-cloak="" ng-if="$ctrl.data.length > 0">
  <div class="average-container">
    <span ng-if="$ctrl.averageGpa.count > 0">{{$ctrl.averageGpa.average}}</span>
    <span ng-if="$ctrl.averageGpa.count <= 0">NaN</span>
    <span>Average GPA</span>
  </div>
  <div class="tabs-container">
    <div ng-repeat="tab in $ctrl.data">
      <div class="tab-container" ng-class="{active : tab.id === $ctrl.activeTab}"
           ng-click="$ctrl.changeActiveTab(tab)">
        <div title="GRAGE {{tab['gradeName']}}" class="grade-text">
          GRADE {{tab['gradeName']}}
        </div>
        <i title="Delete Tab" ng-click="$ctrl.removeTab(tab)" class="fa fa-close"></i>
      </div>
    </div>
    <div class="add-tab-wrapper" ng-class="{disabled : !$ctrl.uniqueGradeName}" title="Add new tab"
         ng-click="$ctrl.addTab()">
      <i class="add-icon-tab fa fa-plus"></i>
    </div>
  </div>
  <div class="line-wrapper"></div>
  <div class="main-section">
    <div class="grade-wrapper">
      <label for="grade">GRADE</label>
      <input id="grade" class="input-grade" ng-model="$ctrl.currentNameGrade"
             placeholder="Enter grade name" type="text" ng-class="{error : !$ctrl.uniqueGradeName}"
             ng-change="$ctrl.checkUniqueGrade($ctrl.currentNameGrade)">
    </div>
    <div id="gridOptions" ui-grid="$ctrl.gridOptions" ui-grid-infinite-scroll class="grid"></div>
    <form class="form-create-student"
          ng-submit="$ctrl.addStudent($ctrl.studentName, $ctrl.studentGpa)">
      <input ng-model="$ctrl.studentName" class="student-input" placeholder="Enter name"
             ng-class="{error : !$ctrl.validNameStudent}"
             type="text" ng-change="$ctrl.checkNameStudent($ctrl.studentName)">
      <input ng-model="$ctrl.studentGpa" class="gpa-input" placeholder="Enter gpa" type="text"
             ng-class="{error : !$ctrl.validGpa}" ng-change="$ctrl.checkGpa($ctrl.studentGpa)">
      <button class="btn btn-add-student" ng-disabled="!$ctrl.validGpa || !$ctrl.validNameStudent"
              type="submit">
        ADD
      </button>
    </form>
  </div>
</div>
